@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");
:root {
  --charcolBlack: #101820;
  --primaryColoraText: #FEE715;
  --primaryColorlight: #00FFFF;
  --inputText: hsl(330,12%, 97%);
  --cardColor: hsl(300, 3%,94%);
  --greyText: hsl(0,0%,51%);
  --formcolor: #F9E795;
  --bgColor: hsl(0,0%, 100%);
  --whiteColor: hsl(0,0%, 100%);
  --biggestFontSize: 2.5rem;
  --h1Fontsize: 2rem;
  --h2Fontsize: 1.25rem;
  --h3Fontsize: 1rem;
  --normalFontsize: 0.938rem;
  --smallFontsize: 0.813rem;
  --smallestFontsize: 0.75rem;
  --borderRadius: 3rem;
}

.AboutPage {
  position: relative;
  min-height: 100vh;
  width: 100%;
  top: 0;
  background-color: rgb(25, 25, 25);
}
.AboutPage .secHeading {
  text-align: center;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: var(--h2Fontsize);
  color: var(--primaryColoraText);
}
.AboutPage .secHeading span {
  color: var(--primaryColorlight);
}
.AboutPage .colabImage img {
  min-width: 100%;
  height: auto;
  position: absolute;
}
.AboutPage .collabDetail {
  border-radius: 10px;
  padding-top: 5rem;
  position: relative;
  text-align: center;
}
.AboutPage .collabDetail h1 {
  text-align: center;
  color: var(--primaryColoraText);
}
.AboutPage .collabDetail h1 span {
  color: var(--primaryColorlight);
}
.AboutPage .collabDetail p {
  background-color: var();
  padding-top: 1rem;
  font-size: var(--h3Fontsize);
  text-align: left;
  color: var(--whiteColor);
}
.AboutPage .teamHeading {
  padding-top: 2rem;
}
.AboutPage .teamHeading h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primaryColoraText);
}
.AboutPage .teamHeading h2 {
  text-align: left;
  color: var(--primaryColorlight);
}
.AboutPage .teamHeading p {
  background-color: var();
  padding-bottom: 2rem;
  font-size: var(--h3Fontsize);
  text-align: left;
  color: var(--whiteColor);
}
.AboutPage .teamHeading .uvIntroHeading {
  padding-bottom: 22px;
  color: var(--primaryColoraText);
}
.AboutPage .teamHeading .uvIntro {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  text-align: left;
}
.AboutPage .teamHeading .uvIntro p {
  justify-content: center;
}
.AboutPage .teamHeading .uvIntro .teamImage1 {
  display: flex;
  margin: 1rem;
  justify-content: right;
}
.AboutPage .teamHeading .uvIntro .teamImage1 img {
  border-radius: 20px;
}
.AboutPage .teamHeading .aboutMore1 {
  display: inline;
}
.AboutPage .teamHeading .aboutMore1 h2 {
  padding-bottom: 10px;
}
.AboutPage .teamHeading .aboutMore1 p h3 {
  color: red;
}
.AboutPage .contactForCollab {
  padding: 10px;
  color: var(--whiteColor);
}
.AboutPage .contactForCollab h1 {
  text-align: center;
  padding: 5px;
  color: var(--primaryColorlight);
}
.AboutPage .contactForCollab h2 {
  padding-bottom: 20px;
  text-align: center;
}
.AboutPage .contactForCollab a {
  font-size: var(--h2Fontsize);
  text-align: center;
  color: var(--charcolBlack);
  display: flex;
  justify-content: center;
  height: 30px;
  margin: 0 100px 0 100px;
  border-radius: 20px;
  background-color: var(--primaryColoraText);
}

@media screen and (max-width: 425px) {
  .AboutPage .colabImage img {
    height: auto;
  }
}
@media screen and (min-width: 430px) {
  .AboutPage .colabImage img {
    height: 25vh;
  }
}
@media screen and (min-width: 768px) {
  .AboutPage .colabImage img {
    height: auto;
  }
  .AboutPage .secHeading {
    padding-top: 10rem;
    font-size: 2rem;
  }
  .AboutPage .collabDetail {
    font-size: 1.2rem;
  }
  .AboutPage .collabDetail p {
    font-size: var(--h2Fontsize);
  }
  .AboutPage .teamHeading {
    padding-top: 2rem;
  }
  .AboutPage .teamHeading h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: var(--h1Fontsize);
    color: var(--primaryColoraText);
  }
  .AboutPage .teamHeading h2 {
    text-align: left;
    color: var(--primaryColorlight);
  }
  .AboutPage .teamHeading p {
    background-color: var();
    padding-bottom: 2rem;
    font-size: var(--h2Fontsize);
    text-align: left;
    color: var(--whiteColor);
  }
  .AboutPage .teamHeading .uvIntroHeading {
    font-size: var(--h1Fontsize);
    padding-top: 20px;
    padding-bottom: 22px;
    color: var(--primaryColoraText);
  }
  .AboutPage .teamHeading .uvIntro {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    text-align: left;
  }
  .AboutPage .teamHeading .uvIntro p {
    justify-content: center;
  }
  .AboutPage .teamHeading .uvIntro .teamImage1 {
    margin: 0rem 3rem 0 0rem;
    display: flex;
    justify-content: right;
  }
  .AboutPage .teamHeading .uvIntro .teamImage1 img {
    border-radius: 20px;
    height: auto;
    width: 70%;
  }
  .AboutPage .teamHeading .aboutMore1 {
    display: inline;
  }
  .AboutPage .teamHeading .aboutMore1 h2 {
    padding-bottom: 10px;
  }
  .AboutPage .teamHeading .aboutMore1 p h3 {
    color: red;
  }
  .AboutPage .contactForCollab a {
    margin: 0 40% 0 40%;
  }
}
@media screen and (min-width: 1024px) {
  .AboutPage .secHeading {
    padding-top: 13rem;
    font-size: 3rem;
  }
  .AboutPage .collabDetail {
    padding-top: 8rem;
    font-size: 1.4rem;
  }
  .AboutPage .collabDetail p {
    margin: 0 3rem 0rem 3rem;
    text-align: center;
    font-size: 1.5rem;
  }
  .AboutPage .colabImage img {
    height: auto;
  }
  .AboutPage .teamHeading h1 {
    font-size: 3rem;
  }
  .AboutPage .teamHeading .uvIntroHeading {
    font-size: 2.5rem;
    margin-left: 1rem;
  }
  .AboutPage .teamHeading .uvIntro p {
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  .AboutPage .teamHeading .uvIntro .teamImage1 img {
    height: auto;
    width: 70%;
  }
}
@media screen and (min-width: 1440px) {
  .AboutPage .secHeading {
    padding-top: 20rem;
    font-size: 4rem;
  }
  .AboutPage .colabImage img {
    height: auto;
  }
  .AboutPage .collabDetail {
    padding-top: 10rem;
  }
  .AboutPage .collabDetail h1 {
    font-size: 3rem;
  }
  .AboutPage .collabDetail p {
    margin: 0 5rem 0rem 5rem;
    text-align: center;
    font-size: 2rem;
  }
  .AboutPage .teamHeading h1 {
    font-size: 4rem;
  }
  .AboutPage .teamHeading .uvIntroHeading {
    font-size: 3rem;
  }
  .AboutPage .teamHeading .uvIntro p {
    font-size: 2rem;
  }
  .AboutPage .teamHeading .uvIntro .teamImage1 img {
    height: auto;
    width: 60%;
  }
}
@media screen and (min-width: 2560px) {
  .AboutPage .secHeading {
    padding-top: 40rem;
    font-size: 5rem;
  }
  .AboutPage .collabDetail {
    padding-top: 20rem;
  }
  .AboutPage .collabDetail h1 {
    font-size: 4rem;
  }
  .AboutPage .collabDetail p {
    margin: 0 5rem 0rem 5rem;
    text-align: center;
    font-size: 2rem;
  }
}/*# sourceMappingURL=About.css.map */