@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap');


:root{
    
    --charcolBlack: #101820;
    --primaryColoraText: #FEE715;
    --primaryColorlight:  #00FFFF;
    --inputText: hsl(330,12%, 97%);
    --cardColor: hsl(300, 3%,94%);
    --greyText: hsl(0,0%,51%);
    --formcolor: #F9E795;
    --bgColor: hsl(0,0%, 100%);
    --whiteColor: hsl(0,0%, 100%);

    --biggestFontSize: 2.5rem;
    --h1Fontsize: 2rem;
    --h2Fontsize: 1.25rem;
    --h3Fontsize: 1rem;
    --normalFontsize: 0.938rem;
    --smallFontsize: 0.813rem;
    --smallestFontsize: 0.75rem;
    --borderRadius: 3rem;
}

.navBar{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 2rem ;
    position: fixed;
    transition: .2s;
    border-bottom: 1.5px
    solid var(--primaryColoraText);
    // background: rgba(255,255,255,0.737);
    backdrop-filter: blur(5px);
    z-index: 1000;
    
    .logodm{
        display: flex;
        align-items: center;
        cursor: pointer;
        
        justify-content: center;
        height: 50px;
        span{
            color: var(--charcolBlack);
            font-size: var(--h3Fontsize);
            justify-content: center;
        }
        
        
    }
   
//     .menu{
//         display: flex;
//         align-items: center,;
//         backdrop-filter: blur(5px);
//         justify-content: center;
//         color: var(--primaryColoraText);
// }

@media screen and (max-width: 767px) {
    .menu{
        position: absolute;
        width: 70%;
        top:-100rem;
        right: 50%;
        left: 50%;
        transform: translate(-50%);
        background: rgb(7, 6, 7) ;
        padding: 2rem;
        border-radius:10px;
        transition: .2s;
        // box-shadow: 0 1.5px 3px 4px rgba(0, 0, 0, 0.516);
        li{
            color: var(--primaryColoraText);
            font-size: var(--h3Fontsize);
            font-weight: 500;
            padding: 1rem 0;
            text-align: center;
            cursor: pointer;
            &:hover{
                color: var(--primaryColorlight);
                // border-bottom: 1.5px solid var(--primaryColoraText);
            }
        }
    }
}

.signUpBtn{
    font-size: var(--h3Fontsize);
    background: var(--primaryColoraText);
    color: var(--charcolBlack);
}

.signUpBtn:hover{
    color: var(--charcolBlack);
    background: var(--primaryColorlight);
}

.menuicon, .closeicon{
    font-size: var(--h1Fontsize);
    color: var(--primaryColoraText);
    &:hover{
        color:var(--primaryColorlight);
    }
}

.closeicon{
    position: absolute;
    color: var(--primaryColoraText);
    bottom: -30px;
    right: 50%;
    left: 50%;
    color: var(--primaryColoraText);
    transform: translate(-50%);
}
.showNavbar{
    top: 8rem;
}

}

.navBar.scrolled { 
    z-index:-1000;
    transition: ease-in;
  }



@media screen and (min-width:768px ) {
    .navBar{
        .logoDiv{
            span{
                font-size: var(--h2Fontsize);
            }
        }
        .closeicon,.menuicon{
            display: none;
        }
        }    
       .menu{
        ul{
            display: flex;
            gap :2rem;
            li{
                font-size: var(--h3Fontsize);
                font-weight: 500;
                padding: 1rem 0;
                text-align: center;
                color: var(--primaryColoraText);
                cursor: pointer;
                    &:hover{
                        color: var(--primaryColorlight);
                        border-bottom: 1.5px solid var(--primaryColoraText);
                    }

            }
        }
       } 

}
@media screen and (min-width:1240px){
    .navBar{
        padding:2rem 6rem ;
        .menu{
            ul{
                gap:4rem;
            }
        }
    }
    
}

@media screen and (min-width:1440px) {
    .navBar{
        padding: 2rem 14rem;
        .menu{
            ul{
                gap: 6rem;
            }
        }
       
    }
}
// @media screen and (min-width:183px) {
//     .navBar{
//         padding: 2rem 14rem;
//         .menu{
//             display: flex;
//             ul{
//                 gap:10rem;
//                 // li{
//                 //     font-size: var(--h2Fontsize);
//                 // }
//             }
//         }
//     }
// }