@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap');

root{
    
    --charcolBlack: #101820;
    --primaryColoraText: #FEE715;
    --primaryColorBacklight:  #fee71550;
    --primaryColorlight:  #00FFFF;
    --inputText: hsl(330,12%, 97%);
    --cardColor: hsl(300, 3%,94%);
    --greyText: hsl(0,0%,51%);
    --formcolor: #F9E795;
    --bgColor: hsl(0,0%, 100%);
    --whiteColor: hsl(0,0%, 100%);
    
    --biggestFontSize: 2.5rem;
    --h1Fontsize: 2rem;
    --h2Fontsize: 1.25rem;
    --h3Fontsize: 1rem;
    --normalFontsize: 0.938rem;
    --smallFontsize: 0.813rem;
    --smallestFontsize: 0.75rem;
    --borderRadius: 3rem;
}

.vrAdDesign{
    position: relative;
    height: 100%;
    top: 30%;
    bottom: 50%;
    color: black;
    padding: 0 1.3rem;
    // background-color: black;
    // position: relative;
    .text1{
        background-color: var(--primaryColorBacklight);
        padding: 1rem;
        margin: 1rem -1rem 1rem -1rem;
        border-radius:30px ;    
        font-size: 1.5rem;
        font-weight:600;
        // color:var(--primaryColoraText);
    }
    p{  
        background-color: var(--cardColor);
        padding: 2rem ;
        border-radius: 0 0 20px 20px;
        font-size: var(--normalFontsize);
        font-weight: 500;
    }
    
    .product-box {
        
    display: flex;
    align-items:center ;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 2rem ;
    border : 2px
    solid var(--primaryColoraText);   
    border-radius: 20px 20px 0 0;
    background: var(--charcolBlack);
    backdrop-filter: blur(5px);
        max-width: 500px; 
        height: 200px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin: 1px ; /* Center the box horizontally */
    }
    
    @media screen and (max-width: 767px) {
        .product-box {
                
        padding-top: 5px;
        margin: 1px;
    }
}
}
  